.main_box{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 350px;
    margin-top: 20px;
    margin: auto !important;
    align-items: center;
    padding: 20px;
}
.createContainer label{
    display: block;
    margin-top: 5px;
    font-size: 16px;
}
.createContainer input{
  width: 300px;
  border: 1px solid gray;
  font-size: 15px;
  padding: 5px;
}
.createContainer button{
  width: 250x;
}
.createContainer input:focus{
  outline: none;
}
.createContainer button{
width: 312px;
font-size: 15px;
margin-top: 10px;
padding: 10px;
border: none;
background-color: #4CAF50;
color: #fff;
}